.container {
  padding: 20px;
}

.header-background{
  background: #3f51b5;
}


.header-section {
  text-align: center;
  padding: 60px 0;
}


.header-headline {
  color: #fff;
}


.board-form {
  border: 1px solid #ddd;
}
